@mixin dynamicColor($color) {
  background: $color;
  &::before {
      background: $color;
  }
  &::after {
      border-left: 30px solid $color;
  }
}

.container {
  .title {
      font-size:17px;
  }
  ul {
      list-style:none;
      display: flex;
    // width: 0%;
    }

    li {
      width: 15%;
      // flex: 1;
      cursor: pointer;
      height: 70px;
      margin-right: 5px;
      display: inline-flex;
      position: relative;
      @include dynamicColor( #D7D7D7);
      &.current {
          @include dynamicColor(#F5B619);
          color:black;
          // #0a5
      }
      &.complete{
        @include dynamicColor(#02CCA6);
        color:black;
      }
    }

    li::before {
      content:"";
      display: inline-block;
      width: 0;
      height: 0;
      border-top: 35px solid transparent;
      border-left: 30px solid white;//
      border-bottom: 35px solid transparent;
    }

    li::after {

      content:"";
      display: inline-block;
      background: transparent;
      width: 0;
      height: 0;
      border-top: 35px solid transparent;
      border-bottom: 35px solid transparent;
      right:-30px;
      position: absolute;
      z-index:1
    }

    .content {
      width: 100%;
      justify-content: center;
      display: flex;
      align-items: center;
      padding: 0px 0px 0px 0px;
    }

    li:first-child {
      border-top-left-radius:9999px !important;
      border-bottom-left-radius: 9999px;
      .content {
        padding-left: 20px !important;
        border-top-left-radius: 9999px !important;
        border-bottom-left-radius: 9999px;
      }
      &::before {
          display: none;
        }
    }
    li:last-child {
      border-top-right-radius: 9999px !important;
      border-bottom-right-radius: 9999px;
      .content {
        padding-right: 20px !important;
        border-top-right-radius: 9999px !important;
        border-bottom-right-radius: 9999px;
      }
      margin-right: 0px;
        &::after {
          display: none;
        }
    }
  .status-name {
      font-size: 12px;
      line-height: 15px;
      display: inline-block;
      word-break: break-word;
  }
  mat-icon {
      &.status-done {
          height: 20px;
          width: 20px;
          font-size: 21px;
          color: white;
      }
  }
  @media (max-width: 1366px) {
      .status-name {
          font-size: 11px;
      }
      li {
          &:first-child {
              max-width: 70px;
          }
      }
  }
}
