<div class="flex flex-col">
    <label
      (click)="fileInput.click()"
      class="dark:hover:bg-bray-800 py-[36px] flex w-full cursor-pointer flex-col items-center justify-center rounded-lg border-2 border-dashed border-black bg-[#F5F5F5]  "
    >
      <div class="flex flex-col items-center justify-center pb-6 pt-5">
        <svg
          class="mb-4 h-8 w-8 text-[#888888] "
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 20 16"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M13 13h3a3 3 0 0 0 0-6h-.025A5.56 5.56 0 0 0 16 6.5 5.5 5.5 0 0 0 5.207 5.021C5.137 5.017 5.071 5 5 5a4 4 0 0 0 0 8h2.167M10 15V6m0 0L8 8m2-2 2 2"
          />
        </svg>
        <p class="mb-2 text-sm font-medium text-[#888888] ">
          <a href="javascript;" class="text-[#4D83ED]">Upload</a> or drag your company logo
        </p>
        <p class="text-sm font-medium text-[#888888] ">
          @if(buttonDescription){
            {{buttonDescription}}
          }@else {
            in PNG, JPG, GIF up to 10MB
          }
        </p>
      </div>
    </label>

  <input
    #fileInput
    type="file"
    [multiple]="false"
    class="hidden"
    (change)="imageProcessing($event)"
  />

  <!-- validation messages -->
  <div class="w-full text-left text-xs">
    @if (formSuccessMessage) {
      <span class="text-secondary">{{ formSuccessMessage }} </span>
    }
    @if (formErrorMessage) {
      <span class="text-danger/80">{{ formErrorMessage }} </span>
    }
  </div>
</div>
